<div class="drag-prompt">Drag them ;)</div>

<div class="container flex-container text-center">
    <div class="empty-space"></div>
    <div class="footer-text">
        <a href="https://www.facebook.com/dolan.miu" target="_blank"><i class="fa fa-facebook fa-2x fa-fw" aria-hidden="true"></i></a>
        <a href="https://www.linkedin.com/in/dolan1" target="_blank"><i class="fa fa-linkedin fa-2x fa-fw" aria-hidden="true"></i></a>
        <a href="https://github.com/dolanmiu" target="_blank"><i class="fa fa-github fa-2x fa-fw" aria-hidden="true"></i></a>
        <a href="https://www.youtube.com/channel/UCvOZstUHmL3vxmJJ6C8hqoA" target="_blank"><i class="fa fa-youtube fa-2x fa-fw" aria-hidden="true"></i></a>
        <a href="https://bitbucket.org/dolanmiu" target="_blank"><i class="fa fa-bitbucket fa-2x fa-fw" aria-hidden="true"></i></a>
        <a href="https://soundcloud.com/miubrothers" target="_blank"><i class="fa fa-soundcloud fa-2x fa-fw" aria-hidden="true"></i></a>
    </div>
</div>
