<div class="container">
    <i class="fa fa-facebook" aria-hidden="true"></i>
    <i class="fa fa-linkedin" aria-hidden="true"></i>
    <i class="fa fa-github" aria-hidden="true"></i>
    <i class="fa fa-youtube" aria-hidden="true"></i>
    <i class="fa fa-bitbucket" aria-hidden="true"></i>
    <i class="fa fa-soundcloud" aria-hidden="true"></i>
    <p>I made this website for fun so I don't have to update my LinkedIn and my CV at the same time.</p>
    <p><i class="fa fa-copyright" aria-hidden="true"></i> Dolan Miu {{year}}. Much love <i class="fa fa-heart" aria-hidden="true"></i></p>
</div>