$hover-color: #0275d8;

:host {
    display: block;
    height: 0;
}

.navbar {
    transform: translateY(-100%);
}

.navbar-fixed {
    position: fixed;
    top: 0;
    transform: translateY(0);
    width: 100%;
    z-index: 100;
}

.nav-item {
    cursor: pointer;

    :hover {
        color: $hover-color;
    }
}

button {
    &:hover {
        cursor: pointer;
    }
}
