<nav #nav class="navbar navbar-toggleable-md navbar-inverse bg-inverse bg-faded" [ngClass]="{'navbar-fixed': whenUserScrolledPast | async}">
    <div class="container">
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
        <a class="navbar-brand" pageScroll href="#top">dolan.bio</a>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item" [ngClass]="{active: true}" *ngFor="let item of menu">
                    <a class="nav-link" pageScroll href="#{{item.link}}">{{item.title}} <span *ngIf="true" class="sr-only">(current)</span></a>
                </li>
            </ul>

            <button class="btn btn-success my-2 my-sm-0" (click)="generateCv()">Geneate CV <i class="fa fa-file-word-o" aria-hidden="true"></i></button>
        </div>
    </div>
</nav>
