<div class="container">
    <h1>Dolan Miu</h1>

    <p class="lead">Java, C#, TypeScript and JS software developer. Ok-ish at web design too.</p>

    <div class="row">
        <div class="col-lg-4">
        </div>

        <div class="col-lg-8">
            <p>NodeJS / TypeScript / JavaScript</p>
            <div class="progress">
                <div class="progress-bar progress-bar-striped progress-bar-animated bg-info" role="progressbar" style="width: 94%"></div>
            </div>

            <p>C#</p>
            <div class="progress">
                <div class="progress-bar progress-bar-striped progress-bar-animated bg-info" role="progressbar" style="width: 80%"></div>
            </div>

            <p>Java</p>
            <div class="progress">
                <div class="progress-bar progress-bar-striped progress-bar-animated bg-info" role="progressbar" style="width: 70%"></div>
            </div>

            <p>Fundemental Computer Science</p>
            <div class="progress">
                <div class="progress-bar progress-bar-striped progress-bar-animated bg-info" role="progressbar" style="width: 75%"></div>
            </div>
        </div>
    </div>

    <h4>Summary</h4>
</div>