<div class="container">
    <h1>Dolan Miu</h1>

    <p class="lead">Java, C#, TypeScript and JS software developer. Ok-ish at web design too.</p>

    <div class="row">
        <div class="col-lg-4">
            <img class="img-fluid rounded" src="/assets/me.jpg">
        </div>

        <div class="col-lg-8">
            <p>NodeJS / TypeScript / JavaScript</p>
            <div class="progress">
                <div class="progress-bar progress-bar-striped progress-bar-animated bg-info" role="progressbar" style="width: 94%"></div>
            </div>

            <p>C#</p>
            <div class="progress">
                <div class="progress-bar progress-bar-striped progress-bar-animated bg-info" role="progressbar" style="width: 80%"></div>
            </div>

            <p>Java</p>
            <div class="progress">
                <div class="progress-bar progress-bar-striped progress-bar-animated bg-info" role="progressbar" style="width: 70%"></div>
            </div>

            <p>Fundemental Computer Science</p>
            <div class="progress">
                <div class="progress-bar progress-bar-striped progress-bar-animated bg-info" role="progressbar" style="width: 75%"></div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <h2>Summary</h2>

            <p>
                I have been involving myself with the JavaScript stack from top to bottom, and have learnt a plethora of knowledge in the
                process. I was there when Backbone was the hype. Then came AngularJS and Grunt. People decided Grunt was
                too verbose, so Gulp came along. Multiple configuration files weren't good enough, so NPM Scripts saved the
                day. Currently, Angular/React + TypeScript and Webpack is what early 2017 is like. Who knows what late 2017
                brings. Some people hate this ever-changing landscape. I love this about JavaScript. It gives me a sense
                of growth and desire to improve in the community. I love learning new things.
            </p>

            <p>
                I like to program in my spare time for personal projects or contributing to open source projects. I have contributed to Angular2
                to fix a bug; and DefinitelyTyped to add many TypeScript definitions for popular NPM modules. I also release
                a few packages on NPM, each of them getting around 400 downloads per month. Last month, I created a multi-player
                socket.io browser based Flappy Bird game with security in mind. Earlier, I released an app for LaMetric smart
                clock which shows player data for the online game League of Legends. Currently I am making an open source
                Git GUI tool to compete with SourceTree and GitKraken.
            </p>

            <p>
                I always strive to be better at my craft and never go 'stale'. Technology is ever changing and growing, and I am too. My
                mantra is: "If you are not growing, you are dying". I always try to read books and blogs to keep up to date
                with my ability and best practices, but also re-read academic materials to polish up the fundamentals of
                what I already learnt in university.
            </p>

            <p>
                Since having chickens as pets, I have became extremely extremely knowledgeable about chickens
            </p>
        </div>
    </div>
</div>
