<div class="container">
    <div class="row">
        <div class="col-lg">
            <i class="fa fa-envelope-o fa-3x" aria-hidden="true"></i>
            <p><strong>E-mail:</strong> <a href="mailto:dolan_miu@hotmail.com" target="_blank"><br>dolan_miu@hotmail.com</a></p>
        </div>
        <div class="col-lg">
            <i class="fa fa-phone fa-3x" aria-hidden="true"></i>
            <p><strong>Mobile:</strong><br>(+44) 7595 672 701</p>
        </div>
        <div class="col-lg">
            <i class="fa fa-linkedin fa-3x" aria-hidden="true"></i>
            <p><strong>LinkedIn:</strong> <a href="https://www.linkedin.com/in/dolan1" target="_blank"><br>https://www.linkedin.com/in/dolan1</a></p>
        </div>

        <div class="col-lg">
            <i class="fa fa-github fa-3x" aria-hidden="true"></i>
            <p><strong>GitHub:</strong> <a href="https://github.com/dolanmiu" target="_blank"><br>https://github.com/dolanmiu</a></p>
        </div>

    </div>
</div>

<hr>
