$icon-color: #c4c4c4;

:host {
    display: block;
    padding: 50px 0;
}

.fa-fw {
    width: 2.3em;
}

h3 {
    font-size: 1.04em;
    margin-bottom: .75;
}

h2 {
    font-size: 1.4em;
    text-transform: uppercase;
}

.description {
    text-align: justify;
}

.institution-details {
    font-weight: 500;
    margin-bottom: .4rem;
}

.icon {
    color: $icon-color;
}

button {
    &:hover {
        cursor: pointer;
    }
}
